::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1 !important;
    border-radius: 20px !important;
    border: 6px solid transparent !important;
    background-clip: content-box !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf !important;
}

.flex{
    display: flex;
}

.table-odd-color{
    background-color: #ececec;
}

.width-80{
    width: 80%;
    margin: auto;
}

.width-90{
    width: 90%;
    margin: auto;
}

.width-100{
    width: 100%;
    margin: auto;
}

.float-right{
    float: right;
}

.shadow{
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.margin-top-navbar{
    margin-top: 3.25rem;
}

.strong{
    font-weight: 700;
}

.id-tag::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(
            45deg);
    transform-origin: center center;
}

.id-tag::after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(
            45deg);
    transform-origin: center center;
}

.id-tag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 12px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 32px;
    padding-left: 4.5px;
    padding-top: 7px;
}

.margin-auto{
    margin: auto;
}

.wrap {
    width: 100%;
}

.wrap table {
    width: 100%;
    table-layout: fixed;
}

table tr td {
    padding: 5px;
    border: 1px solid #eee;
    word-wrap: break-word;
}

body > div.wrap > table > tbody > tr{
    height: 50px;
    background-color: #eee;
    text-align: center;
}
table.head tr td {
    background: #eee;
}

.inner_table {
    height: 50vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;

}
th {
    padding-top: 12px !important;
    padding-left: 4px !important;
}