<form method="post" action="{{ path('admin_user_delete', {'id': admin_user.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet administrateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_user.id) }}">
    <button class="button is-danger float-right">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
        <span>Supprimer</span>
    </button>
</form>
