{% extends 'base.html.twig' %}

{% block title %}Edit AdminUser{% endblock %}

{% block body %}
    <h1>Edit AdminUser</h1>

    {{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_user_index') }}">back to list</a>

    {% if app.user is defined and app.user.id != admin_user.id %}
        {{ include('admin_user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
