<form method="post" action="{{ path('advert_delete', {'id': advert.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette publication ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advert.id) }}">
    <button class="button is-danger float-right">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
        <span>Supprimer</span>
    </button>
</form>
