{% apply inky_to_html|inline_css(source('@css/bulma.min.css'))  %}
    <container>
        <row class="header">
            <columns>
                <spacer size="32"></spacer>
                <h1 class="text-center title">Bonjour,</h1>
            </columns>
        </row>
        <row class="mt-5">
            <p>
                Votre publication "{{ advert.title }}" a été validé le {{ advert.publishedAt |date('Y-m-d H:i:s') }} .
            </p>
        </row>
        <row class="mt-5">
            <p>
                <code>{{ advert.content }}</code>
            </p>
        </row>
        <row class="mt-5">
            <p>
                <a href="{{ url('advert_show', {'id': advert.id}) }}">Cliquez ici pour voir votre publication</a>
            </p>
        </row>
    </container>
{% endapply %}